$mat-primary: #3f51b5; //mat-color(mat-palette($mat-indigo));
$mat-accent: #ff7100; //mat-color(mat-palette($mat-pink, A200));
$mat-warn: #f14336; // mat-color(mat-palette($mat-red));
$color-header-gnb: #2222229e;
$color-header-active: #feea5d; // 활성화된 메뉴색상

@mixin animation($sec: 0.5s) {
  -webkit-transition-duration: $sec;
  -moz-transition-duration: $sec;
  transition-duration: $sec;
}

html {
  height: 100%;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  min-width: 1024px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  line-height: 1.3em;
  font-size: 13px;
}

// .eth-container {
//   display: flex;
//   text-align: center;
//   flex-direction: column;
//   align-items: center;
//   height: 100%;
//   .eth-header-wrap {
//     position: relative;
//     width: 100%;
//   }
//   .eth-content {
//     position: relative;
//     z-index: 0;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     flex-grow: 1;
//     overflow: hidden;
//     > *:last-child {
//       flex-grow: 1;
//       height: 100%;
//     }
//   }
// }

//////////////////////////////////////////////////////////////////////////////////////////////////////////////
// flex layout
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
*[flex-columns] {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  overflow: hidden;
  > *[flex] {
    flex-grow: 1;
    overflow: auto;
  }
  > *:only-child {
    flex-grow: 1;
    overflow: auto;
  }
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
// HEADER LOGO
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
eth-header {
  .eth-logo {
    display: inline-block;
    background: url(/assets/images/guri_logo.png) no-repeat left center;
    width: 60px;
    height: 60px;
    background-size: cover;
    font-size: 0;
    line-height: 0;
  }
}
.eth-intro-background {
  opacity: 0.3;
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Autocomplete Panel List
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
.mat-mdc-autocomplete-panel .mat-mdc-option {
  height: 32px;
  font-size: 13px;
  line-height: 32px;
  .mat-mdc-option-text {
    > strong {
      font-weight: 500;
      padding: 0 3px;
      &:first-child {
        padding-left: 0;
      }
      &:not(:first-child):before {
        content: "/";
        padding: 0 6px 0 0;
        color: #aaa;
      }
    }
    > span {
      padding: 0 3px;
      &:first-child {
        padding-left: 0;
      }
      &:not(:first-child):before {
        content: "/";
        padding: 0 6px 0 0;
        color: #aaa;
      }
    }
  }
  &.mat-active {
    background: rgba($mat-primary, 0.2);
    color: darken($mat-primary, 10%);
  }
  &:not(.mat-active):hover {
    background: rgba($mat-primary, 0.1);
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Information List
////////////////////////////////////////////////////////////////////////////////////////////////////
$color-infolist-label: #666;
$color-infolist-value: #fafafa;
$color-infolist-value-hover: #f0f0f0;
$color-infolist-value-text: #222;
$color-infolist-value-active: $mat-primary;

ul.eth-infolist {
  display: flex;
  flex-wrap: wrap;
  padding: 1px 0 0 0;
  box-sizing: border-box;
  font-size: 13px;
  li {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    width: 25%;
    list-style: none;
    margin: 0 0 1px 0;
    padding: 0;
    box-sizing: border-box;

    > label {
      width: 7.5em;
      min-width: 7.5em;
      margin: 0;
      padding: 4px 6px;
      box-sizing: border-box;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 12px;
      line-height: 16px;
      text-align: right;
      color: $color-infolist-label;
      &:hover {
        overflow: visible;
        width: auto;
      }
      &.eth-active {
        width: 6.9em;
        min-width: 6.9em;
        color: $color-infolist-value-active;
        font-size: 13px;
      }
      &.eth-warn {
        width: 6.9em;
        min-width: 6.9em;
        color: darken($mat-warn, 10%);
        font-weight: 500;
        font-size: 13px;
      }
    }
    > span {
      flex-grow: 1;
      line-height: 16px;
      padding: 4px 6px;
      box-sizing: border-box;
      word-break: break-all;
      white-space: normal;
      background: $color-infolist-value;
      > strong {
        color: $color-infolist-value-active;
        font-weight: normal;
      }
      em {
        font-size: 12px;
        color: $color-infolist-label;
        font-style: normal;
      }
      > .mat-mdc-button {
        margin: -4px 4px;
        line-height: 24px;
      }
    }
    > span + span {
      flex-grow: 0;
      margin-left: 1px;
    }
    > .mat-mdc-mdc-button-base {
      margin: 0 2px;
      line-height: 22px;
      padding: 0 6px;
      font-size: 13px;
      &.mat-mdc-button .mat-mdc-icon {
        margin-left: 4px;
        line-height: 22px;
      }
    }
    > label + .mat-mdc-button-base {
      margin-left: 0;
    }
    &:hover > span {
      background: $color-infolist-value-hover;
    }
  }
  li.eth-warn {
    color: darken($mat-warn, 10%);
    > span {
      color: darken($mat-warn, 10%);
      background: rgba($mat-accent, 0.2);
      > strong {
        color: inherit;
      }
    }
    &:hover > span {
      background: rgba($mat-accent, 0.25);
    }
  }
  li.eth-active {
    > span {
      color: $color-infolist-value-active;
      background: rgba($mat-primary, 0.1);
    }
    &:hover > span {
      background: rgba($mat-primary, 0.15);
    }
  }
  .eth-half-info {
    width: 50%;
  }
  .eth-full-info {
    width: 100%;
  }

  .eth-filesize {
    text-align: right;
    white-space: nowrap;
    color: #888;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Inline Text Link for a Tag.
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
@mixin inline-text-link {
  position: relative;
  display: inline-block;
  margin: 0 10px 0 0;
  word-break: break-all;
  color: $mat-primary;
  line-height: 16px;
  &:hover {
    color: darken($mat-primary, 10%);
  }
  &:after {
    content: "";
    position: absolute;
    border: 4px solid transparent;
    border-color: currentColor currentColor transparent transparent;
  }
}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////
// DIALOG
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
.mat-mdc-dialog-container {
  position: relative;
  min-width: 240px;
  margin: 0;
  padding: 0 !important;
  overflow: hidden !important;
  > ng-component:only-child {
    display: flex;
    flex-direction: column;
    height: 100%;
    > form {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      height: 100%;
    }
  }

  h2[md-dialog-title] {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0 12px;
    font-size: 16px;
    font-weight: normal;
    line-height: 36px;
    background: $mat-primary;
    color: #fff;
    &:active {
      cursor: move;
    }
  }

  .mat-mdc-dialog-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    height: 100%;
    max-height: calc(100vh - 36px - 48px);
    margin: 36px 0 0 0;
    padding: 0;
    box-sizing: border-box;
    > *[flex] {
      flex-grow: 1;
    }
    > *:only-child {
      flex-grow: 1;
    }
    > .eth-table:only-child {
      flex-grow: 0;
    }
    > .eth-form-fields-wrap:only-child {
      flex-grow: 0;
    }
    > .eth-form-fields-wrap:last-child {
      padding-bottom: 12px;
    }
    &:first-child {
      margin: 0;
    }
    &:last-child {
      max-height: calc(100vh - 36px);
    }
  }
}

.eth-responsive-minimum .mat-mdc-dialog-container div[md-dialog-actions] {
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 6px 10px;
  > div {
    position: static !important;
  }
  > div:first-child {
    order: 1;
  }
  > div:last-child {
    order: 2;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Header layout
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
// .eth-header {
//   position: relative;
//   display: flex;
//   justify-content: space-between;
//   align-items: stretch;
//   padding: 0;
//   background: $color-header-gnb;
//   > div {
//     position: relative;
//     flex-grow: 1;
//     @include animation;
//     .eth-gnb-wrap {
//       position: relative;
//       display: flex;
//       align-items: flex-start;
//       overflow: hidden;
//       padding: 0;
//       border-bottom: 1px solid rgba(255, 255, 255, 0.3);
//       box-sizing: border-box;
//     }
//     .eth-header-nav {
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       padding: 0;
//       box-sizing: border-box;
//       @include animation;
//       .btn-logout {
//         min-width: 0;
//         height: 32px;
//         padding: 0 12px;
//         border-radius: 0;
//         box-sizing: border-box;
//         line-height: 32px;
//       }
//       // .btn-turnoff {
//       //   // 자동완성 on상태
//       //   color: $color-header-active;
//       // }
//       .btn-turnon {
//         // 자동완성 off상태
//         color: rgba(255, 255, 255, 0.6);
//       }
//     }
//   }
//   .mat-mdc-button-base {
//     min-width: 0;
//     height: 32px;
//     padding: 0 8px;
//     border-radius: 0;
//     box-sizing: border-box;
//     line-height: 32px;
//     color: #fff;
//   }
//   .btn-search-toggle {
//     display: none;
//   }
// }

// GNB
eth-menus {
  flex-grow: 1;
  width: 100px;
  .menu-item.eth-active {
    color: $color-header-active;
    font-weight: 500;
    background: darken($color-header-gnb, 10%);
  }
  .mat-mdc-tab-nav-bar.mat-primary {
    background: inherit;
    border: none;
    &:hover .mat-mdc-tab-link-container {
      z-index: 1001;
    }
    .mat-mdc-tab-header-pagination-chevron {
      border-color: #fff;
    }
    .mat-mdc-tab-header-pagination-disabled {
      opacity: 0.3;
    }
  }
}
// .eth-header .eth-gnb-wrap {
//   .eth-logo {
//     display: inline-block;
//     min-width: 90px;
//     height: 32px;
//     margin: 0 0 0 12px;
//     background: url(/assets/images/logo-solars10-header.svg) no-repeat left
//       center;
//     font-size: 0;
//     @include animation;
//   }
//   eth-menus {
//     flex-grow: 1;
//     width: 100px;
//     .menu-item.eth-active {
//       color: $color-header-active;
//       font-weight: 500;
//       background: darken($color-header-gnb, 10%);
//     }
//     .mat-mdc-tab-nav-bar.mat-primary {
//       background: inherit;
//       border: none;
//       &:hover .mat-mdc-tab-link-container {
//         z-index: 1001;
//       }
//       .mat-mdc-tab-header-pagination-chevron {
//         border-color: #fff;
//       }
//       .mat-mdc-tab-header-pagination-disabled {
//         opacity: 0.3;
//       }
//     }
//   }
// }
// 메뉴 중 SubMenu 가 없을 경우 보이지 않는다.
.mat-mdc-menu-panel.eth-gnb-submenu:not(.mat-mdc-menu-content.mat-mdc-menu-item) {
  min-width: 0px;
}

// 메뉴 중 subMenu 가 있을 경우
.mat-mdc-menu-panel.eth-gnb-submenu {
  .mat-mdc-menu-content:has(.mat-mdc-menu-item) {
    min-width: 150px;
    background: lighten($color-header-gnb, 10%);
    .mat-mdc-menu-item {
      height: 32px;
      line-height: 32px;
      color: #fff;
      &:hover {
        color: $color-header-active;
        font-weight: 500;
        background: $color-header-gnb;
      }
    }
    .mat-mdc-menu-item.mat-mdc-menu-item-highlighted {
      color: $color-header-active;
      font-weight: 500;
      background: $color-header-gnb;
    }
    .mat-mdc-menu-submenu-icon {
      color: inherit;
    }
  }

}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
// GNB SUBMNEU
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
// .mat-mdc-menu-panel.eth-gnb-submenu {
//   min-width: 150px;
//   background: lighten($color-header-gnb, 10%);
//   .mat-mdc-menu-content {
//     .mat-mdc-menu-item {
//       height: 32px;
//       line-height: 32px;
//       color: #fff;
//       &:hover {
//         color: $color-header-active;
//         font-weight: 500;
//         background: $color-header-gnb;
//       }
//     }
//     .mat-mdc-menu-item.mat-mdc-menu-item-highlighted {
//       color: $color-header-active;
//       font-weight: 500;
//       background: $color-header-gnb;
//     }
//     .mat-mdc-menu-submenu-icon {
//       color: inherit;
//     }
//   }
// }
